/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Estilos adicionais para o projeto */
html, body {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/* Variáveis de cor globais */
:root {
   
  --color-dark: rgba(30, 30, 30, 0.613);
  --dark: rgb(0, 0, 0);
  --shadow-purple: rgba(106, 30, 198, 0.48);
  --color-light-purple: #b47ffe;
  --color-button-default: #471f7faa;
  --color-button-hover: #b47ffe;
  --color-button-disabled: #ac93cf9d;
  --color-text-light: #f0f0f0;
  --color-text-dark: #333333;
  --color-error-red: #dc3545;
  --color-card-background: #ffffff;
  --color-primary-purple: #9b59b6; 
  --color-light: #b47ffe7e;
  --color-dark-purple: #471f7faa;
  --color-label: #b47ffe;
  --color-border-light: #dcdcdc;
  --color-input-focus-shadow: rgba(56, 182, 255, 0.2);
  --color-footer-border: #eee;
  --color-footer-text: #888;
  --color-profile-card-background: #f0f2f5;
  --color-profile-card-text-light: #555;
  --color-profile-card-text-dark: #333;
  --color-profile-job: #666;
  --color-profile-border: #eee;
}
